<div ng-app="BankingApp">
    <div ng-controller="BankingAppCtrl">
        <ul>
            <li ng-repeat="item in accountlist">{{item.UserName}} [{{item.Id}}]</li>
        </ul>
    </div>
</div>
